# Copy this to .env and fill in your values
# Never commit .env

GEMINI_API_KEY=AIza...
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/dobby
ELASTIC_ENDPOINT=https://my-elasticsearch-project-eba7a3.es.us-central1.gcp.elastic.cloud:443
ELASTIC_API_KEY=<your-elastic-api-key>
